.navbar{
    height:100px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    background-color: white;
    top:0;
    display:flex;
    justify-content: space-between;
    align-items: center;
    position:sticky
}
.logo{
    height:100px;
    width:100px;
    margin-left: 25px;
}
.elements{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
}
a{
    text-decoration: none;
    color:black;
}
.elements a:hover{
    background-color: #7a7676;
    color:white;
    border-bottom:solid 3px;
    border-color: black;
}
.elements>a{
   color:black;
   font-weight: bold;
   font-size: 14px;
}
.right-navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.search-bar{
    width:500px;
    height: 35px;
    background-color: #f5f5f6;
    border:solid 1px;
    border-radius: 10px;
    padding-left:10px;
}

.user a img{
    height:25px;
    width:25px;
}
.profile img{
    margin-left:6px;
}
.wishlist img{
    margin-left:10px;
}

.right-navbar{
    float: right;
}
a figcaption{
    font-weight: bold;
    font-size: 14px;
    display:block;
    padding-right: 10px;
}
.user a{
   display:inline-block;
   margin-right:10px;
}
.user{
    float:right;
    margin:30px;
}



