.navbar{
    position: sticky;
    z-index: 1;
    height:100px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    background-color: white;
    top:0;
    display:flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}
.menu{
    display: none;
}
.logo{
    height:100px;
    width:100px;
    margin-left: 25px;
}
.elements{
    display: flex;
    flex-direction: row;
    width: 50%;
    justify-content: space-between;
}
a{
    text-decoration: none;
    color:black;
}
.elements>a{
   color:black;
   font-weight: bold;
   font-size: 14px;
}
.right-navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.user a img{
    height:25px;
    width:25px;
}
.profile img{
    margin-left:6px;
}
.wishlist img{
    margin-left:10px;
}
a figcaption{
    font-weight: bold;
    font-size: 14px;
    display:block;
    padding-right: 10px;
}
.user a{
   display:inline-block;
   margin-right:10px;
}
.user{
    float:right;
    margin:30px;
}

@media screen and (max-width:640px) {
    .menu{
        display:block;
        margin-left:25px;
    }
    .elements{
        display:none;
    }
}



